@inherits LayoutComponentBase

<PageTitle>Convert Byte into Base64</PageTitle>

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
